body{
  text-align: center;
}


/*.google{
  padding: 100px;

}*/


.button{
  color: #808080;
  font-size: .8em;
  font weight:bold;
  font-family: 'arial', sans-serif;
  padding: 10px;
  border: 1px solid #EFFAF3;
  background-color: #F5F6F5
}

.textfield{
  font-size: 1.6em;
  width: 450px;
  margin-bottom: 30px;
  margin-top: 10px; 
  background-image: url(mic.png);
  background-repeat:no-repeat;
  background-position:right;

}

img {
  margin-top: 200px;
}
