body{
  background-color: #FFFFFF;

  font-family: 'helvetica neue', sans-serif;


}
pre{
  overflow: scroll;
}

.h{
  font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans','Geneva','Arial',sans-serif;
  font-size: 24;

}

.p{
  font-family: 'Times New Roman', serif;
  font-size: 21px;
  color: #3B3B3B
}


.content{
  width: 700px;
  background-color: #FFFFFF;
  padding: 5px;
  margin: auto;
}

.img{
  width:100%;
}
